.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: end;
    gap: 3rem;
    align-items: center;
   
    box-sizing: border-box;
  }
  
  .navIcon {
    height: 50%;
    padding: 0 2rem;
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    /* font-family: "Open Sans"; */
    font-weight: bold;
    color: purple;
    border-radius: 10px;
    cursor: pointer;
    /* border: 1px solid red; */
    transition: all 0.2s linear;
  }
  
  .navIcon:hover {
    background-color: rgb(254, 122, 144);
    color: white;
  }