.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: end;
    gap: 3rem;
    align-items: center;
   padding: 0 3rem ;
    box-sizing: border-box;
  }
  
  .navIcon {
    height: 50%;
    padding: 0 2rem;
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
   
    font-weight: bold;
    color: purple;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s linear;
  }
  
  .navIcon:hover {
    background-color: rgb(23, 73, 21);
    color: white;
  }