.homepageImg{
    background: url("https://png.pngtree.com/background/20210710/original/pngtree-shampoo-promotion-season-simple-green-banner-picture-image_1032764.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  height: 100vh;
position: relative;

}

.heading{
    position: absolute;
    left: 200px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: bold;
    color: green;
}